---
layout: list
style: list
tag_list: interesting_sites_tags
favicon: interesting_sites
title: Interesting Sites
---

<!-- Generate each item in the list -->
{% for item in site.data.interesting_sites %}
  <div class="filterItem {{ item.tags | join: " " }}">
    <h2>
      <a href={{ item.url }}>{{ item.name }}</a>
    </h2>
    <p>{{ item.description | markdownify }}</p>

    <span class="tags">
      Tags:
      {% for tag in item.tags %}
        <a onclick="filterSelection('{{ tag }}')">{{ tag }}</a>
      {% endfor %}
    </span>
  </div>
{% endfor %}