<nav>
  {% for item in site.data.navigation %}
    <a
      href="{{ item.url }}"
      {% if page.url == item.url %}
      id="button_current"
      {% endif %}
      class={{ item.length }}>

      <div id="prism">
        <div id="front" class="side">{{ item.name }}</div>
        <div id="left" class="side"></div>
        <div id="top" class="side">{{ item.name }}</div>
        <div id="right" class="side"></div>
        <div id="bottom" class="side">{{ item.name }}</div>
        <div id="back" class="side">{{ item.name }}</div>
      </div>
    </a>
  {% endfor %}
</nav>