menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    min-width: 495px;
    max-width: 70vw;

    filter: drop-shadow(0px 0px 50px #1E132A);

    margin: auto;
    padding: 0;

    text-align: center;
}

@media (width <= 550px) {
    menu{
        min-width: 90vw;
    }
}

menu a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    min-width: 150px;
    aspect-ratio: 1;

    background-image: url(/assets/images/missing.png);
    background-position: center center;
    background-size: cover;

    margin: 10px;
    border: 3.3px solid #AA87C0;
    border-radius: 20px;

    text-align: center;
    text-decoration: none;

    transition: 0.5s;
}

menu a:hover{
    transform: scale(1.1);
}

menu div{
    font-weight: bold;
    font-size: 1.7em;

    margin: 0 50%;
    border-radius: 10px;
    padding: 5px;

    background: rgba(61, 39, 83, 0.75);
    color: #F08168;
}