body{
    font-family: 'Electrolize', sans-serif;

    margin: 0;

    background: #3D2753;
    color: #edfad2;
}

article{
    margin: 5vh 20vw 5vh 20vw;
    border: 10px double #AA87C0;
    border-radius: 20px;
    padding: 2vh 2vw;

    background: #4A2F65;
}

a{
    color:#94F5D5;
}

a:visited{
    color: #008A8A;
}

h1{
    background: #3D2753;
    color: #F08168;

    border-radius: 10px;
    padding: 5px;
}