* {
    box-sizing: border-box;
}

body{
    font-family: 'Electrolize', sans-serif;

    margin: 0;
    padding: 0;

    background: #3D2753;
    color: #edfad2;
}

main{
    min-width: 495px;
    max-width: 60vw;

    margin: 5vh auto;
    border: 10px double #AA87C0;
    border-radius: 20px;
    padding: 2vh 2vw;

    background: #4A2F65;

    box-shadow: 0px 0px 50px #1E132A
}

a{
    color:#94F5D5;
}

a:visited{
    color: #008A8A;
}

h1{
    background: #3D2753;
    color: #F08168;

    border-radius: 10px;
    padding: 5px;
}

@media (width <= 550px) {
    main{
        min-width: 90vw;
    }
}