//some small spacing and color styles to make everything look nice
#tagSidebar a, .tags{
    padding: 0 0 0 5px;
}

#tagSidebar a, .tags a{
    text-decoration: underline;
    cursor: pointer;

    transition: 0.25s;
}

#tagSidebar a:hover, .tags a:hover, .tags a:visited:hover{
    color: #008A8A;
}

.metadata{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tags, .author, .date{
    background: #3D2753;
    border-radius: 5px;

    margin: 2.5px;
}

.author, .date{
    padding: 0 5px;
}

.tags a{
    margin: 0 5px;
}

.tags a:visited{
    color: #94F5D5;
}