/* The current page button can look different than the others */
nav #button_current #front{
    background: #d83434;
    color: #33ff00;
}

nav{
    width: auto;

    text-align: center;

    border: 2px dashed #0000ff;
}
nav a{
    display: inline-block;

    width: 15vh;
    height: 6vh;
    
    margin: 1vh auto;
}
nav #prism{
    width: 15vh;
    height: 6vh;

    text-align: center;

    font-weight: bold;
    font-size: 2.5vh;

    transform-style: preserve-3d;

    transition: 1s;
}
/* Different buttons need different line heights to keep them centered
    (A button can have 1 or 2 lines)*/
nav .short{
    line-height: 6vh;
}
nav .long{
    line-height: 3vh;
}

/*Default formatting for all sides of the boxes*/
nav .side{
    position: absolute;

    width: 15vh;
    height: 6vh;

    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 2vh;

    color: rgba(0, 0, 0, 0);

    transition: 1s;
}

/* Setup everything so that its ready to move */
nav #front{
    z-index: 1;

    color: #0000ee;
    background: #888888;
}
nav #left{
    transform: translateX(-5vh) rotateY(-180deg);
    width: 40%;
}
nav #top{
    transform: rotateX(180deg);
}
nav #right{
    transform: translateX(5vh) rotateY(180deg);
    width: 40%;
}
nav #bottom{
    transform: rotateY(180deg);
}
nav #back{
    transform: rotateY(180deg);
}

/* Move everything when hovered */
nav #prism:hover{
    transform: rotateX(-22.5deg) rotateY(15deg);

    transition: 1s;
}
nav #prism:hover .side{
    color: #0000ee;
    border-radius: 0px;
}

/* Each side needs different transformations */
nav #prism:hover #front{
    transform: translateZ(3vh);
    background: rgba(255, 0, 0, 0.8);
}
nav #prism:hover #left{
    transform: rotateY(-90deg) translateZ(7.5vh);
    background: rgba(0, 0, 255, 0.8);
}
nav #prism:hover #top{
    transform: rotateX(90deg) translateZ(3vh);
    background: rgba(0, 255, 0, 0.8);
}
nav #prism:hover #right{
    transform: rotateY(90deg) translateZ(7.5vh);
    background: rgba(255, 255, 0, 0.8);
}
nav #prism:hover #bottom{
    transform: rotateY(180deg) rotateX(-90deg) translateZ(3vh);
    background: rgba(255, 0, 255, 0.8);
}
nav #prism:hover #back{
    transform: rotateY(180deg) translateZ(3vh);
    background: rgba(0, 255, 255, 0.8);
}