/* The current page button can look different than the others */
nav #button_current #one{
    background: #d83434;
    color: #33ff00;
}

nav{
    width: auto;

    text-align: center;

    border: 2px dashed #0000ff;
}
nav a{
    display: inline-block;

    width: 15vh;
    height: 6vh;
    
    margin: 1vh auto;
}
nav #prism{
    width: 15vh;
    height: 6vh;

    text-align: center;

    font-weight: bold;
    font-size: 2.5vh;

    transform-style: preserve-3d;

    transition: 0.5s;
}
/* Different buttons need different line heights to keep them centered */
nav .short{
    line-height: 6vh;
}
nav .long{
    line-height: 3vh;
}
nav .side{
    position: absolute;

    width: 15vh;
    height: 6vh;

    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    color: rgba(0, 0, 0, 0);

    transition: 0.5s;
}

/* Setup everything so that its ready to move */
nav #one{
    z-index: 1;

    color: #0000ee;
    background: #888888;

    border-radius: 2vh;
}
nav #two{
    width: 40%;
}
nav #four{
    transform: rotateY(180deg);
    width: 40%;
}
nav #five{
    transform: rotateY(180deg);
}
nav #six{
    transform: rotateY(180deg);
}

/* Move everything when hovered */
nav #prism:hover{
    transform: rotateX(-20deg) rotateY(20deg);
}
nav #prism:hover .side{
    color: #0000ee;
    border-radius: 0px;
}

/* Each side needs different transformations */
nav #prism:hover #one{
    transform: translateZ(3vh);
    background: rgba(255, 0, 0, 0.8);
}
nav #prism:hover #two{
    transform: rotateY(-90deg) translateZ(7.5vh);
    background: rgba(0, 255, 0, 0.8);
}
nav #prism:hover #three{
    transform: rotateX(90deg) translateZ(3vh);
    background: rgba(0, 0, 255, 0.8);
}
nav #prism:hover #four{
    transform: rotateY(90deg) translateZ(7.5vh);
    background: rgba(255, 255, 0, 0.8);
}
nav #prism:hover #five{
    transform: rotateY(180deg) rotateX(-90deg) translateZ(3vh);
    background: rgba(255, 0, 255, 0.8);
}
nav #prism:hover #six{
    transform: rotateY(180deg) translateZ(3vh);
    background: rgba(0, 255, 255, 0.8);
}