#sidebar{
    position: fixed;
    top: 0vh;
    left: 0vw;

    width: 20vw;
    height: 100vh;

    padding: 5vh 0 0 0;

    text-align: center;
}

//825 is the point at which <main> stops resizing
@media (width <= 825px) {
    #sidebar{
        position: static;

        width: 100vw;
        height: auto;
    }
}

img{
    margin: 0 0 10px 0;
}