{% comment %} This is the default layout for pages. There is nothing special, all content on the page is in the <main> tag {% endcomment %}
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <!-- Link to Stylesheet -->
    <link
      rel="stylesheet"
      href="/assets/css/{{ page.style }}.css"
      type="text/css"
      media="screen" />

  </head>

  <body>
    {% include sidebar.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>