{% comment %} This layout is almost the same as the default one, but the style reference has been changed and the home menu is included {% endcomment %}
{% comment %} This layout is only intended to be used once for the homepage, and is therefore not customizable {% endcomment %}
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <!-- Link to Stylesheet -->
    <link
      rel="stylesheet"
      href="/assets/css/home.css"
      type="text/css"
      media="screen" />

  </head>

  <body>
    <main>
      {{ content }}
    </main>

    {% include home_menu.html %}
  </body>
</html>