{% comment %} This layout is special for pages that need to have a tag sidebar generated to sort list items on that page {% endcomment %}
{% comment %} IMPORTANT: To use the list layout, a page must have a 'tag_list' variable containing the list of tags! {% endcomment %}
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <!-- Link to Stylesheet -->
    <link
      rel="stylesheet"
      href="/assets/css/{{ page.style }}.css"
      type="text/css"
      media="screen" />

  </head>

  <body>
    {% include sidebar.html %}

      <main>
      {{ content }}

      <!-- Generate tag sidebar -->
      <div id="tagSidebar">
        <menu>
          <h2>Tags
        </h2>

          {% comment %} includes cannot have dynamic variables in them, so a temporary variable is used instead {% endcomment %}
          {% assign tag_list = site.data[page.tag_list] %}
          {% include tag_sidebar_tags.html tags=tag_list %}

          <a onclick="filterSelection('all')">Show all</a>
        </menu>
      </div>

      <div id="showTags">
        <a href="#tagSidebar">Jump to Tags</a>
      </div>

      <!-- Include the list filter script -->
      <script src="/assets/js/listFilter.js"></script>
    </main>

    {% include footer.html %}
  </body>
</html>