{% comment %} This layout is the same as the defalut layout, but the title of the page is added as an <h1> before everything in <main> {% endcomment %}
{% comment %} This layout is intened for posts to get around problems displaying the excerpt {% endcomment %}
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <!-- Link to Stylesheet -->
    <link
      rel="stylesheet"
      href="/assets/css/{{ page.style }}.css"
      type="text/css"
      media="screen" />

  </head>

  <body>
    {% include sidebar.html %}

    <main>
      <h1>{{ page.title }}</h1>
      {{ content }}
      <div class="metadata">
        <span class="tags">
          Tags:
          {% for tag in page.tags %}
            <a href="/blog.html?tag={{ tag }}">{{ tag }}</a>
          {% endfor %}
        </span>
        <span class="author">By: {{ page.author }}</span>
      </div>
    </main>
  </body>
</html>